/* hide on initial page load */
.woocommerce_offers,
.checkout_billing.not-logged-in {
    display: none;
}

/* fix for https://twitter.com/macbookandrew/status/700060332253978624 */
.woocommerce > .so-offer-content.so-inline {
    display: none !important;
}

.woocommerce_offers > .so-offer-content {
    display: inline !important;
}

#source_field .select2-container {
    border: 1px #ccc solid;
    border-radius: 3px;
}

#source_field.woocommerce-invalid .select2-container {
    border-color: #a00;
}

#source_field.woocommerce-validated .select2-container {
    border-color: #69bf29;
}

#source_field .select2-container .select2-choice {
    border: none;
}

/* improve spacing */
.woocommerce_offers .upsell {
    margin-bottom: 1em;
    border: 1px solid #d3ced2;
    border-radius: 5px;
    margin: 2em 0;
    padding: 20px;
}

#checkout-wrapper .edit-cart-block {
    display: block;
    margin-bottom: 0;
    position: relative;
    text-align: right;
    width: 100%;
}

#checkout-wrapper .button.edit-cart {
    margin-bottom: 1em;
}

#checkout-wrapper h3 {
    color: #0095DA;
}

#checkout-wrapper h4 {
    color: #35343A;
    font-weight: bold;
    line-height: 1.3em;
    padding-bottom: 20px;
    padding-top: 7px;
}

#checkout-wrapper h5 {
    color: #8b8b8b;
}

#checkout-wrapper img {
    vertical-align: top;
}

#checkout_timeline li .timeline-wrapper .timeline-label {
    display: inline-block;
    font-size: 14px;
    padding: 3px !important;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

/* fix checkout step labels responsive issues */
@media (max-width: 1024px) {
    .woocommerce-checkout #checkout_timeline {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    ul#checkout_timeline li {
        padding: 0;
        margin: 0 5px 10px;
        display: block;
    }
}

@media (min-width: 480px) {
    .woocommerce-checkout #checkout_timeline {
        padding-left: 0;
    }
    .woocommerce-checkout #checkout_timeline li .timeline-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    #checkout_timeline li .timeline-wrapper .timeline-step,
    #checkout_timeline li .timeline-wrapper .timeline-label {
        display: block;
        -ms-flex-item-align: center;
        align-self: center;
    }
}

@media (max-width: 479px) {
    #checkout_timeline {
        margin-left: 0;
    }
}
